<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.booknow.css">
    <title>Book Now - FCI Booking</title>
</head>
<body>
    <header>
    <div class="logo">FCI Booking</div>
    <nav>
        <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/rooms">Rooms</a></li>
            <li><a href="/contacts">Contact</a></li>
            <li><a href="/register">Register</a></li>
            {% if session.username %}
                <li><a href="/logout">Logout</a></li>
                <li><a href="/my-bookings" style="font-weight:700; text-decoration:underline;">My Bookings</a></li>
                {% if user_role == 'admin' %}
                    <li><a href="/admin">Admin</a></li>
                {% endif %}
            {% else %}
                <li><a href="/login">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    </header>

    <div class="container">
        <h1>Book Now</h1>

        <!-- Display Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <form action="{{ url_for('book_now') }}" method="POST">
            <div class="form-group">
                <label for="room_number">Room Number:</label>
                <select id="room_number" name="room_number" required>
                    {% for room in rooms %}
                        <option value="{{ room[0] }}">{{ room[0] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="date">Booking Date:</label>
                <input type="date" name="date" id="date" required>
            </div>
            <div class="form-group">
                <label for="start_time">Start Time:</label>
                <input type="time" id="start_time" name="start_time" required>
                <label for="end_time">End Time:</label>
                <input type="time" id="end_time" name="end_time" required>
            </div>
            <div class="form-group">
                <label for="notes">Additional Notes:</label>
                <textarea name="notes" id="notes" rows="4"></textarea>
            </div>
            <button type="submit">Book Now</button>
        </form>
    </div>

    <footer>
        <p>&copy; 2023 FCI Booking. All rights reserved.</p>
    </footer>
</body>
</html>



