<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room List</title>
    <link rel="stylesheet" href="../static/css/style.room.css">
</head>
<body>
    <header>
        <h1>FCI Booking</h1>
        <nav>
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/rooms">Rooms</a></li>
                <li><a href="/contacts">Contact</a></li>
                 <li><a href="/register">Register</a></li>
                {% if session.username %}
                    <li><a href="/logout">Logout</a></li>
                {% else %}
                    <li><a href="/login">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <h2>Room List</h2>
<table>
  <thead>
    <tr>
      <th>Room Number</th>
      <th>Room Type</th>
      <th>Description / Facilities</th>
    </tr>
  </thead>
  <tbody>
    {% for room in rooms %}
    <tr>
      <td>{{ room[0] }}</td>  {# room_number #}
      <td>{{ room[3] }}</td>  {# room_status as type #}
      <td>
        Capacity: {{ room[1] }}<br>
        Facilities: {{ room[2] }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<footer>
    <p>&copy; 2023 FCI Booking. All rights reserved.</p>
</footer>
</body>
</html>

